name: Mon premier workflow
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo ::notice::Un message info
          echo ::warning::Un message warning
          echo ::error::Un message error
