name: Mon premier workflow
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          pwd
          echo $SHELL
        shell: sh
      - run: |
          pwd
          echo $SHELL
        shell: pwsh
