name: Mon premier workflow
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -run: echo $GITHUB_STEP_SUMMARY
      -run: echo '# Je suis un titre' >> $GITHUB_STEP_SUMMARY
      -run: echo 'Je suis du contenu :rocket:' >> $GITHUB_STEP_SUMMARY
      -run: echo '' >> $GITHUB_STEP_SUMMARY
